{% extends "categories/base_categories.html" %}

{%  block content %}
    <a href="{% url "categories:categories_list" %}">All categories</a>
    <br>
   {{ category.name }}
    <a href = "{%  url "categories:category_edit" pk=category.id %}">Редактировать</a>
    <br>
    <br>
    <div>
        {% for task in tasks %}
            <div> <a href="{% url "task:task_detail" pk=task.id %}">{{ task }}</a> <i> {{ task.created|date:"Y-m-d" }}</i></div>

        {% endfor %}

    </div>
    <br>
    <br>
    <a href="{% url "task:task_create" %}">Создать новое задание</a>
{% endblock %}

