{% extends "categories/base_categories.html" %}

{%  block content %}
   <a href="{% url "categories:categories_list" %}">Назад</a>
    <br>
   <h3>Категория: {{ category.name }}</h3>

    <div class ="row">
        {% for task in tasks %}
            <div class="col-md-12">
                <div class ="card card-block bg-faded mt-2">
                    <p class = "p-1"><a class="card-link" href="{% url "task:task_detail" pk=task.id %}">{{ task }}</a></p>
                    <p class = "p-1"><i class="float-right"> {{ task.created|date:"Y-m-d" }}</i></p>
                </div>
            </div>
        {% endfor %}

    </div>
    <br>
    <br>
    <a href="{% url "task:task_create" %}">Создать новое задание</a>
{% endblock %}

